<section class="custom-table">
  <div class="content-block">
    <!-- <div class="row clearfix">
      <div class="col-12 topblockheader">
        <div class="block-header breadcrumb-subheading">
          <app-breadcrumb [title]="'Subscriptions'"></app-breadcrumb>
          <p>The list comprises the subscriptions that have been allocated exclusively to you.</p>
        </div>
      </div>
    </div> -->
    <div class="row clearfix">
      <div class="col-12 topblockheader">
        <div class="block-header breadcrumb-subheading">
          <h5>Subscriptions</h5>
          <!-- <app-breadcrumb [title]="'Subscriptions'"></app-breadcrumb> -->
          <p>The list comprises the subscriptions that have been allocated exclusively to you.</p>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="header-buttons mb-md-0 mb-sm-4 mb-4">
              <li class="dropdown me-md-4 me-3">
                <mat-form-field class="search-input">
                  <input matInput placeholder="Search" #input>
                </mat-form-field>
              </li>
              <li>
                <div class="d-flex align-items-center">
                  <button type="submit" class="btn btn-primary create-user-btn">Create Subscription</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row Subscribelist">
          <div class="col-md-4 col-sm-6 col-12" *ngFor="let subscription of subscriptionsArray; let i=index;">
            <div class="card subscription-item">
              <div class="body">
                <div class="row">
                  <div class="col-12">
                    <span>
                      <h4>Name</h4>
                      <p>{{subscription.display_Name}}</p>
                    </span>
                  </div>
                  <div class="col-12">
                    <span>
                      <h4>Created Date</h4>
                      <p>{{subscription.created_Date | date: 'medium'}}</p>
                    </span>
                  </div>
                  <div class="col-12">
                    <span>
                      <h4>Status</h4>
                      <p>{{subscription.state}}</p>
                    </span>
                  </div>
                  <div class="col-12">
                    <span>
                      <h4>Primary Key</h4>
                      <p>
                        <span>{{subscription.primary_Key}}</span>
                        <span class="copyBtn"><i _ngcontent-ng-c3412083662="" class="far fa-copy"></i></span>
                      </p>
                    </span>
                  </div>
                  <div class="col-12">
                    <span>
                      <h4>Secondary Key</h4>
                      <p>
                        <span>{{subscription.secondary_Key}}</span>
                        <span class="copyBtn"><i _ngcontent-ng-c3412083662="" class="far fa-copy"></i></span>
                      </p>
                    </span>
                  </div>
                  <div class="col-12">
                    <span>
                      <h4>Tenant Id</h4>
                      <p>
                        <!-- <span>{{authService.currentUserValue.tenant_id}}</span> -->
                        <span class="copyBtn"><i _ngcontent-ng-c3412083662="" class="far fa-copy"></i></span>
                      </p>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tooltipText">
            <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
          </div>
        </div>
        <!-- <div class="card" *ngIf="subscriptionsArray.length <=0">
            <div class="body">
                <div class="text-center">
                  <img src="assets/images/not_found.gif" class="no_data_found">
                  <p>No data Found! We are unable to find the data you are looking for ,Please try again!</p>
                </div>
                <button class="auth-form-btn mx-auto" color="primary" >
                  Click Here to Subscribe!
                </button>
            </div>
          </div> -->
      </div>
    </div>
  </div>
</section>

<!-- <form class="row g-3">
    <div class="col-md-4">
      <label for="inputEmail4" class="form-label">Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Name">
    </div>
    <div class="col-md-4">
      <label for="inputPassword4" class="form-label">EmailID</label>
      <input type="email" class="form-control" id="inputPassword4" placeholder="Email">
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Contact</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="Contact">
    </div>
    <div class="col-md-4">
      <label for="inputAddress2" class="form-label">Address</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Address">
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label">Start Date</label>
      <input type="date" class="form-control" id="inputCity" placeholder="Start Date">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label">End Date</label>
      <input type="date " class="form-control" id="inputZip" placeholder="End Date">
    </div>
    <div class="col-md-4">
      <label for="inputZip" class="form-label">Package</label>
      <mat-select id="inputZip" class="form-control" placeholder="Package" [formControl]="selectedOptions" multiple>
        <mat-option *ngFor="let option of roles" [value]="option.role">{{ option.display }}</mat-option>
      </mat-select>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-end mt-3 mb-3"> 
        <button type="button" class="btn btn-secondary me-2">Cancel</button> 
        <button type="submit" class="btn btn-primary">Create</button> 
    </div>
    </div>
  </form> -->